* {
    box-sizing: border-box;
}

.card-main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://i.imgur.com/QjI0J9P.jpeg");
    background-size: cover;
    
}

.card-container{
    border: solid rgb(6, 41, 41);
    background-color: rgba(255, 255, 255, 0.70);
    border-radius: 20px;
    width: 80%;
    /* min-height: 80vh; */
    padding: 3rem;
}

.card-questions-container{
    min-height: 65vh;
    /* border: solid purple; */
}

.card-category{
    margin: auto 0;
    width: 100%;
    font-size: 1.15rem;
    text-align: left;
    margin-top: 5px;
    /* border: solid black 1px; */
}

.card-question{
    width: 100%;
    font-size: 3rem;
    /* border: solid black 1px; */
}

.card-choices-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 1.5rem; */
    /* border: solid black 1px; */
    min-height: 10vh;
    flex-wrap: wrap;
}

.card-choices{
    /* border: solid black 1px; */
    width: 35%;
    /* min-width: 60px; */
    margin: 5px;
    text-align: center;
}

.MuiButton-contained.card-choices-buttons {
    height: 5rem;
    font-size: 1rem; 
}

@media (max-width: 600px) {
    .card-choices {
        width: 85%;
    }
    .card-container {
        width: 95%; 
    }

    .card-question {
        font-size: 2rem; 
    }

    .card-category {
        font-size: 1rem; 
    }

    .card-questions-container{
        min-height: 50vh;
    }

    .MuiButton-contained.card-choices-buttons {
        height: 5rem;
        font-size: 1rem;
    }
}
