.register-main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://i.imgur.com/QjI0J9P.jpeg");
    background-size: cover;
}

.register-form-container {
    margin: 0 auto;
    width: 30rem;
    border: solid black 1px;
    border-radius: 15px;
    border-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: white;
}

.register-form-fields {
    width: 80%;
    /* border: solid black 1px; */
    margin-bottom: 10px;
}

.form-text-alignment{
    /* border: solid black 1px; */
    width: 100%;
    text-align: left;
}


@media (max-width: 600px) {
    .register-form-container {
        width: 20.5rem;
    }
}