.register-main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form-container {
    margin: 0 auto;
    width: 25%;
    border: solid black 1px;
    border-radius: 15px;
    border-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.register-form-fields {
    width: 80%;
    /* border: solid black 1px; */
    margin-bottom: 10px;
}

.form-text-alignment{
    /* border: solid black 1px; */
    width: 100%;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .register-form-container {
        width: 90%;
    }
}